@* newStudent Template File *@
@(teachers: List[Teacher])

<!DOCTYPE html>
<html><head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head><body>

Menu: <a href="@routes.DefaultController.index">Show all students</a> <br>

Have been on startpage before: @session.get("has_visited_before")

<h1>Create new student</h1>

<form action="@routes.DefaultController.newStudent()" method="post" role="form">
  <div class="form-group">
    <label for="student-name">Student name</label>
    <input type="text" class="form-control" id="student-name" name="name" placeholder="Student name">
  </div>
  <div class="form-group">
    <label for="teacher-name">Teacher</label>
    
    <select name="teacher-id" class="form-control">
    	@for(teacher <- teachers) {
    		<option value="@teacher.id">@teacher.name (@teacher.students.size students)</option>
   		}
    </select>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

</body></html>